// =============================================================================
// Global Styles
// -----------------------------------------------------------------------------

$primary-color: #317383;
$background-color: #efefef;
$dark-color: #324a51;
$highlight-color: #fa9138;

* {
  box-sizing: border-box;
  margin-top: 0;
}

// =============================================================================
// Application Style.
// -----------------------------------------------------------------------------
body {
  color: #444;
  margin: 0;
  background: $background-color;
  font-family: 'Source Sans Pro', sans-serif;
}

// ===================================================================
// Typography
// -------------------------------------------------------------------
h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
}

p {
  font-family: 'Source Sans Pro', sans-serif;
}

// ===================================================================
// Utility Classes.
// -------------------------------------------------------------------

// Flex Box Element ----------------------------------------
.flex {
  background-color: skyblue;
  display: flex;
}

// Flex Box Modifiers. -------------------------------------

// Center the content to the entire viewport.
.flex--center {
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

// Center the content vertically in viewport.
.flex--center-vh {
  height: 100vh;
  align-items: center;
}

// Center the content horizontally in viewport.
.flex--center-vw {
  width: 100vw;
  justify-content: center;
}

.hero {
  color: $background-color;
  background-color: $primary-color;
  background-image: linear-gradient(
    to right bottom,
    #317383,
    #408191,
    #4f8fa0,
    #5e9dae,
    #6dacbd
  );
  padding: 2em;
}

.hero a {
  color: $background-color;
  background-color: $dark-color;
  padding: 0.75em 1em;
  border: 1px solid $background-color;
  border-radius: 0.5em;
  text-decoration: none;
  &:hover {
    color: $highlight-color;
  }
}

.hero h2, .hero a {
  text-shadow: 0.1em 0.1em 0.1em $dark-color;
}


.container {
  margin: 0 auto;
  max-width: 1000px;
}
